@tailwind base;
@tailwind components;
@tailwind utilities;

.topic-tag {
    display: inline-block;
    background-color: #f0f0f0;
    padding: 8px;
    border-radius: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    font-size: 14px;
}

.topic-tag button {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
